*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #131212;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h1 {
    color: white;
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: #f7f5f5;
    font-weight: bold;
}

body {
    background-image: url("./images/home_page.jpg");
    font-family: Arial, sans-serif;
}

div {
    width: 500px;
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
